jsonschema==3.2.0
ffmpeg_python==0.2.0
ffmpy==0.2.3
pymongo==3.10.1
matplotlib==3.3.0
numpy==1.19.1
cnocr==1.2.2
requests==2.24.0
opencv_contrib_python==4.5.2.52
opencv-python== 4.4.0.40
pydantic==1.8.1
celery==4.4.6
pytest==6.2.1
cnstd==0.1.1
scipy==1.5.2
uvicorn==0.13.4
scikit_image==0.17.2
ConcurrentLogHandler==0.9.1
fastapi==0.65.2
ffmpeg==1.4
Pillow==7.2.0
redis==3.5.3
python-multipart==0.0.5
