cnstd==0.1.1
cnocr==1.2.2
sentry_sdk
blinker
mxnet==1.6.0
scikit-image
gunicorn==20.0.4
werkzeug
numpy
Pillow
requests
pymongo
jsonschema
opencv-python== 4.3.0.36
ffmpy==0.2.3
ffmpeg-python==0.2.0
celery==4.4.6
ConcurrentLogHandler==0.9.1
Flask==1.1.2
Flask-WTF==0.14.3
gevent==20.6.2
greenlet==0.4.16
importlib-metadata==1.7.0
Jinja2==2.11.2
redis==3.5.3
