<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帧分类结果</title>
</head>
<body>
<h2>一 视频帧分类</h2>
{% for key, value in info.image_dict.items() %}
<h3>{{key}}</h3>
<center class="half">
{% for image in value %}
    <img src="{{image[0]}}", width="208", height="384", title="{{image[1]}}">
{% endfor %}
</center>
{% endfor %}


<h2>二 计算结果统计</h2>
<h3>计算机视觉结果</h3>
<table border="1">
  <tr>
      <th>首帧时间</th>
      <th>花屏率</th>
      <th>卡顿时间</th>
      <th>黑屏率</th>
      <th>音视频不同步时间段</th>
      <th>播放QoE</th>
  </tr>
  <tr>
      <td>"{{info.first_frame_time}}"</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
  </tr>
</table>
</body>
</html>